.home-container {
  overflow-x: hidden;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#a {
  position: absolute;
  top: 15%;
  width: 160%;
  left: 25%;
}

@media (max-width: 320px) {
  .headline {
    justify-content: center;
    width: 100%;
  }
}

/* img banner */
.banner_component {
  height: 30vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png");
  background-size: 1200px 200px;
  position: relative; /* Ensure parent has relative position */
  left: -90px;
  top: -30px;
  width: 130%; /* Ensure parent container has a defined width */
}

.img-banner {
  position: absolute;
  left: 10px;
  top: 10px;
}

.text {
  position: absolute;
  left: 10px;
  top: 55px;
  font-size: 23px;
  font-weight: 400;
}

.banner-button {
  position: absolute;
  left: 10px;
  top: 135px;
  background-color: white;
  box-shadow: 1px solid;
  border-width: 1px;
}

.banner-span {
  position: absolute;
  left: 0px;
  top: 30px;
}

.bannerclose-button {
  position: absolute;
  top: -99px; /* Ensure top has units */
  left: 990px; /* Adjust left position as needed */
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 18px;
  z-index: 10;
  padding-left: 10px;
  margin-right: 90px;
}
.channellogo{
  justify-content: center;
 padding-top: 10px;
 padding-right: 5px;
}



.banner-icon {
  position: absolute;
  left: 0%;
}
.SearchContainer{
  display: flex;
  border: 1px solid #909090;
  border-radius: 3px;
  margin: 20px;
  width: 90%;
  height: 40px;
  @media screen and (min-width: 576px) {
    width: 40%;
  }
}
.SearchIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #909090;
  width: 70px;
  border: none;
}
.SearchInput{
  background: none;
  width: 100%;
  outline: none;
  padding: 5px;
  border: none;
  font-family: Roboto;
}


  