.icon-sm {
  font-size: 30px;
  position: relative;
  top: 10px;
  margin-right: 100px;
}

.user-icon {
  border-radius: 45%;
  font-size: 30px;
  width: 100%;
  height: 100%;

}

.form-inline {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 100vh;
  left: 93%;
}
body {
  overflow-x: hidden;
}


  .form-inline {
   width: 0%;
  }
  body {
    overflow-x: hidden;
  }
  .link-bar {
    position: fixed;
    top: 11px;
    left: 85.3%;
  }
  .nav-link{
    position: fixed;
    top: -5px;
    left: 87.5%;

  }
 
  
 
 

body.dark-mode {
  background-color: rgb(48, 47, 47);
}

.navbar {
  position: -webkit-sticky; /* for Safari */
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 100;
  width: 100%;
  height: 70px;
  /* or any other color */
}
button {
  background-color: rgb(144, 201, 197);
}
.inputt{
  display: none;
}

