.icon-sm {
  font-size: 30px;
  position: relative;
  top: 10px;
}

.user-icon {
  border-radius: 45%;
  font-size: 30px;
  width: 100%;
  height: 100%;
}

.form-inline {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 100vh;
}
body {
  overflow-x: hidden;
}
#mobile {
  display: none;
}
#mobile i {
  align-items: center;
}
@media screen and (max-width: 768px) {
  .form-inline {
    right: -c200px;
  }
  body {
    overflow-x: hidden;
  }
  .link-bar {
    position: relative;
    top: 1%;
    left: -20%;
  }
  .nav-link {
    position: relative;
    top: 0%;
    left: -18%;
  }
  .b {
    position: relative;
    top: 0%;
    left: -18%;
  }
  .form-inline.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 110px;
    right: -40px;
    background-color: rgb(225, 236, 245);
    width: 200px;
    height: 25%;
    padding: 40px 0 0 10px;
  }
  #mobile {
    display: block;
  }
  #mobile {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    right: 60px;
  }
}
body.dark-mode {
  background-color: rgb(48, 47, 47);
}

.navbar {
  position: -webkit-sticky; /* for Safari */
  position: fixed;
  top: 0%;
  z-index: 100;
  width: 100%;
  height: 70px;
  /* or any other color */
}
button {
  background-color: rgb(144, 201, 197);
}
@media screen and (max-width: 320px) {
  body {
    overflow-y: scroll;
  }
  .link-bar {
    position: relative;
    top: -30%;
    left: 10%;
  }
  .nav-link {
    position: relative;
    top: -45%;
    left: 10%;
    font-size: 10px;
  }
  .b {
    position: relative;
    top: 40%;
    left: -38%;
  }
  .form-inline.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    right: -40px;
    background-color: rgb(225, 236, 245);
    width: 150px;
    height: 32%;
    padding: 40px 0 0 10px;
  }
  #mobile {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    right: 20px;
  }
}
